body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 150px;
    width: 150px;
}

.h-allignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h1txt {
    color: #BE8750;
    font-size: 55px;
    text-align: center;
}

#p1-size {
    font-size: 20px;
}

.socials {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    text-decoration: none;
}

.buttons h2,
.buttons a {
    color: black;
    text-decoration: none;
}

.twitter-logo {
    border-radius: 8px;
}

.main {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.home-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-title {
    font-size: 40px;
    margin: 0;
}

.menu-h1 {
    color: #0000FF;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
}


.menu-items {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.menu-container{
    display: flex;
    justify-content: space-between;
}

.menu-container img {
    display: flex;
    flex-direction: column;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.food-pics {
    margin-left: 30px;
}

.menu-list-2 {
    color: #0000FF;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
}

.dessert-container-bottom h2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.dessert-container-bottom {
    display: flex;
    justify-content: flex-start;
}

.menu-list-3 {
    color: #0000FF;
    font-size: 18px;
    display: flex;
    text-decoration: underline;
    align-items: flex-start;
}

.about-p {
    display: flex;
    flex-direction: row;
    align-items: center;
}